/* PAGE */
p {margin: 0px; padding: 0px; font-family: Baskerville, Garamond, Georgia, serif; font-size: 14px; color: #333;}
a {color: #777; text-decoration: none;}
/*a:hover {color: #E5E53E; border-bottom: 1px dotted #E5E53E;}*/
a:hover {background: #E5E53E;}
h1 {font-size: 22px; font-weight: normal; font-style: italic;}
.field {margin: 8px 0px; letter-spacing: .2em;}

body {margin: 0px; border: 12px solid #efefef;}
#pageWrapper {height: 100%; width: 100%; box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888;}
#wrapper {position: relative; width: 1000px; margin: auto;	}

/* HEADER */
header {width: 1000px; overflow: auto; position: fixed; z-index: 10; padding-bottom: 1px;border-bottom: 3px solid #333; margin: 0px;}
#card {text-align: center; padding: 20px 0px;}
#nav {width: 100%;}
ul {position: relative; display: inline-block; list-style: none; margin: 0px; padding: 0px;}
.left {float: left;}
.right {float: right;}
li {float: left; padding: 5px; font-family: Futura; font-size: 12px; margin: 0px;}
li a {padding: 0px; border: none; color: #333;}
.category {font-style: italic; font-family: Baskerville;}

/* CONTENT */
#content {overflow: auto; padding: 195px 0px 50px 0px;}

.span1 {width: 231.25px; margin: 0px 25px 0px 0px; float: left;}
.span2 {width: 487.5px; margin: 0px 25px 0px 0px; float: left;}
.span3 {width: 743.75px; margin: 0px 25px 0px 0px; float: left;}
.span4 {width: 1000px; background: #acacac; margin: 0px; float: left;}
.span2:last-child, .span1:last-child, .span3:last-child, .thumbnail:last-child {margin: 0px;}
.row {width: 1000px; padding: 0px 0px 25px 0px; margin: 0px; float: left;}
.thumbnail {width: 231.25px; height: 150px; background: #efefef; margin: 0px 25px 0px 0px; float: left;}
.fixed {position: fixed; z-index: 10px;}
.projImgColumn {position: relative; left: 256.25px;}
.projTitle {font-family: Futura; font-size: 14px; text-transform: uppercase; font-weight: 500; padding-bottom: 8px;}
.projSubTitle {font-family: Baskerville; font-style: italic; font-size: 14px; padding-bottom: 6px;}
.projectDescription {font-family: Baskerville; font-size: 14px; line-height: .7em;}
.projType {font-family: Futura; font-size: 9px; color: #777; text-transform: uppercase; font-weight: normal; padding-top: 8px;}

footer {position: fixed; z-index: 10; bottom: 20px; overflow: auto; width: 1000px; text-align: center;}
footer p {font-size: 10px; font-style: italic;}
